<body>
    <div class="login-container">
        <div class="login-box">
            <div class="container">
                <img src="./assets/logo2.png" alt="Votre image">
            </div>
            
            <form>
                <h1 class="titre-bleu">Se connecter</h1>

                <div>
                    <label for="username">Nom d'utilisateur :</label>
                    <div>
                        <input type="text" id="username" name="username" [(ngModel)]="loginInfo.username" required placeholder="">
                      </div>                </div>


                <div>
                    <label for="password">Mot de passe :</label>
                    <div>
                        <input type="password" id="password" name="password" [(ngModel)]="loginInfo.password" required placeholder="">
                      </div>                </div>

                
                <button type="button" (click)="login2()">Se connecter</button>
            </form>
            <p></p>
            <button class="register-btn" routerLink="/forgetPasswordComponent" >Mot de passe oublié?</button>
        </div>
    </div>
</body>