<body>
    <div class="login-container">
        <div class="login-box">
            <div class="container">
                <img src="./assets/logo2.png" alt="Votre image">
            </div>
            
            <form>
                <h1 class="titre-bleu">nouveau mot de passe</h1>

                <div>
                    <label for="username">Email :</label>
                    <div>
                        <input type="email" id="username" name="email" [(ngModel)]="email"  required placeholder="">
                      </div>                </div>


                <div>
                    <label for="password">Mot de passe :</label>
                    <div>
                        <input type="password" id="password" name="password" [(ngModel)]="password" required placeholder="">
                      </div>                </div>

                
                <button type="button" (click)="resetPassword(email,password)">Enregistrer</button>
            </form>
            <p></p>
        </div>
    </div>
</body>
