<body>
    <div class="login-container">
        <div class="login-box">
            <div class="container">
                <img src="./assets/logo2.png" alt="Votre image">
            </div>
            
            <form>
                <h1 class="titre-bleu">Mot de passe oublié?</h1>

                <div>
                    <label for="username">Email :</label>
                    <div>
                        <input type="email" id="email" name="email" [(ngModel)]="email" required placeholder="Email">
                    </div>                
                </div>



                
                <button type="button" (click)="rechercherCompte(email)">Rechercher</button>
            </form>
            <p></p>
            <button class="register-btn" routerLink="/home" >Se connecter</button>
            
        </div>
    </div>
</body>
